@model EasyEstagio.Models.Vagas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vagas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Atividades)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Atividades)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreRequisitos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreRequisitos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CargaHoraria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CargaHoraria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Beneficios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beneficios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PalavrasChave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PalavrasChave)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
